@import "../Components/NavBar/assets/NavBar.css";
@import "../Components/Header/assets/Header.css";
@import "../Components/ContentBox/assets/ContentBox.css";
@import "../Components/Footer/assets/Footer.css";
@import "../Pages/AddPage/assets/AddPage.css";
@import "../Pages/EditPage/assets/EditPage.css";
@import "../Components/MediaCard/assets/MediaCard.css";
@import "../Pages/AdminPage/assets/AdminPage.css";
@import "../Pages/AllTicketsPage/assets/AllTicketsPage.css";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lobster");
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Reset----------------------------------- */
/* ---------------------------------------------------------------------------- */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
tdvideo,
tt,
u,
ul,
var {
  background: transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
table,
table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
}
img {
  vertical-align: top;
}
embed {
  vertical-align: top;
}
article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
  display: block;
}
mark,
rp,
rt,
ruby,
summary,
time {
  display: inline;
}
input,
textarea {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
}
iframe {
  border: 0;
  margin: 0;
  padding: 0;
}
input,
textarea,
select {
  margin: 0;
  padding: 0px;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: #ed6427 none repeat scroll 0 0;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #ed6427 none repeat scroll 0 0;
  color: #fff;
  text-shadow: none;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
    height: auto;
}
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

a {
  color: #ed6427;
  text-decoration: none;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-duration: 0.3s;
}
a:hover {
  color: #ed6427;
}

h1,
h2 {
  font-size: 25px;
  line-height: 25px;
}
h3,
h4 {
  font-size: 20px;
  line-height: 20px;
}
h5,
h6 {
  font-size: 16px;
  line-height: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 10px 0;
  color: #777;
}

label {
  cursor: pointer;
  margin: 5px 0;
  display: block;
  font-weight: bold;
}
input {
  display: block;
  width: 100%;
  color: #222;
  border: 1px solid #d1d1d1;
  padding: 15px;
  margin: 5px 0 20px 0;
  font-size: 15px;
}
textarea {
  display: block;
  width: 100%;
  height: 250px;
  background-color: #fff;
  color: #222;
  border: 1px solid #d1d1d1;
  padding: 10px;
  margin: 5px 0 20px 0;
}

input:not([type]),
input[type="color"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"],
input[type="search"],
textarea,
.form-control,
select {
  border-radius: 0 0 0 0;
  box-shadow: none;
  display: block;
  font-weight: normal;
  line-height: 1.2;
  outline: medium none;
  transition: border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  width: 100%;
}

.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.f-right {
  float: right;
}
.f-left {
  float: left;
}

.post {
}
.post:after,
.post:before,
article:after,
article:before,
section:after,
section:before {
  clear: both;
  content: "\0020";
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clear {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix:after,
.clearfix:before {
  clear: both;
  content: "\0020";
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

.list-inline li {
  display: inline-block;
}

/* --Line-- */
hr {
  margin: 20px auto 0;
  padding: 0;
  max-width: 210px;
  border: 0;
  border-top: double 4px;
  text-align: center;
  display: block;
  line-height: 1px;
  height: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

hr.line01:after,
hr.line02:after,
hr.line03:after {
  content: url(../images/world-map.png);
  display: inline-block;
  position: relative;
  top: -12px;
  padding: 0 10px;
}

hr.line01 {
  border-color: #111;
}
hr.line01:after {
  color: #111;
  background-color: #f7f7f7;
}

hr.line02 {
  border-color: #111;
}
hr.line02:after {
  color: #111;
  background-color: #ffffff;
}

hr.line03 {
  border-color: #fff;
}
hr.line03:after {
  color: #fff;
  background-color: #303231;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  color: #3f3f3f;
  font: 15px/25px Arial;
  font-family: "Roboto", serif;
  font-weight: 400;
}
body.index-page .main-header {
  height: calc(100vh - 50px);
}
@media screen and (max-width: 767px) {
  body.index-page .main-header {
    height: calc(80vh - 50px);
  }
}
@media screen and (max-width: 500px) {
  body.index-page .main-header {
    height: calc(70vh - 50px);
  }
}
body .wrap-body {
  position: relative;
}
/* ------------------------------------Countainer------------------------------- */

#container {
  position: relative;
  overflow: visible;
  z-index: 2;
}
#container:before {
  content: "";
  z-index: 3;
  background: url(../images/sketch.png) repeat center bottom;
  background-size: auto 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  margin-top: -40px;
  visibility: visible;
}
#container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: url(../images/sketch-header.png) repeat center bottom;
  background-size: auto 100%;
  height: 40px;
  margin-bottom: -10px;
  visibility: visible;
}
#container .wrap-container {
  background: #ffffff;
}

/* ------------------------------------Crumbs------------------------------- */

.crumbs {
  -webkit-box-shadow: 0px 25px 18px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 25px 18px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 25px 18px -26px rgba(0, 0, 0, 0.75);
  padding: 15px 0 15px 30px;
  margin: 60px 0 40px;
}
.crumbs ul {
  list-style: none;
  display: inline-table;
}
.crumbs ul li {
  display: inline;
}
.crumbs ul li a {
  display: block;
  float: left;
  background: #ed6427;
  text-align: center;
  padding: 7px 30px 8px 40px;
  position: relative;
  margin: 0 20px 0 0;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
.crumbs ul li a:after {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ed6427;
  position: absolute;
  right: -20px;
  top: 0;
  z-index: 1;
  -webkit-transition: border 0.3s, -webkit-transform 0.3s;
  -moz-transition: border 0.3s, -moz-transform 0.3s;
  -o-transition: border 0.3s, -o-transform 0.3s;
  transition: border 0.3s, transform 0.3s;
}
.crumbs ul li a:before {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.crumbs ul li:first-child a {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.crumbs ul li:first-child a:before {
  display: none;
}
.crumbs ul li:last-child a {
  padding-right: 40px;
  padding-left: 50px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.crumbs ul li:last-child a:after {
  display: none;
}
.crumbs ul li a:hover {
  background: #222;
  color: #fff;
}
.crumbs ul li a:hover:after {
  border-left-color: #222;
}
.crumbs ul li a:hover:after {
  border-left-color: #222;
}

.hero-heading {
  display: inline-block;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 41px;
  margin: 29px 15px 56px;
  min-height: 41px;
  padding-left: 0.3em;
  position: relative;
  text-transform: uppercase;
}
.hero-heading::before {
  border-top: 2px solid transparent;
  content: "";
  display: block;
  height: 17px;
  left: 0;
  position: absolute;
  top: -29px;
  width: 100%;
}
.hero-heading::after {
  border-bottom: 2px solid transparent;
  bottom: -31px;
  content: "";
  display: block;
  height: 17px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hero-heading > span {
  display: block;
  margin: 0 -17px;
  font-size: 30px;
}
.hero-heading .tl,
.hero-heading .tr,
.hero-heading .br,
.hero-heading .bl {
  display: block;
  height: 30px;
  position: absolute;
  width: 0;
}

.hero-heading .tl {
  border-right: 2px solid transparent;
  left: 0;
  top: -29px;
}
.hero-heading .tr {
  border-left: 2px solid transparent;
  right: 0;
  top: -29px;
}
.hero-heading .br {
  border-left: 2px solid transparent;
  bottom: -31px;
  right: 0;
  z-index: 100;
}
.hero-heading .bl {
  border-right: 2px solid transparent;
  bottom: -31px;
  left: 0;
  z-index: 100;
}
.hero-heading::before,
.hero-heading::after,
.hero-heading .tl,
.hero-heading .tr,
.hero-heading .br,
.hero-heading .bl {
  border-color: #ed6427;
}

header .hero-heading {
  color: #fff;
}
header .hero-heading::before {
  top: -40px;
}
header .hero-heading::after {
  bottom: -40px;
}
header .hero-heading > span {
  font-size: 76px;
  margin: 10px -17px 0;
  font-family: "Poppins", sans-serif;
}
header .hero-heading .tl {
  top: -40px;
  height: 25px;
}
header .hero-heading .tr {
  top: -40px;
  height: 25px;
}
header .hero-heading .br {
  bottom: -40px;
  height: 25px;
}
header .hero-heading .bl {
  bottom: -40px;
  height: 25px;
}
